.container {
  height: 100%;
  text-align: center;
  padding: 0;
  overflow: hidden;

  mgl-map {
    height: 100%;
    width: 100%;
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.arrow {
  width: 500px;
  height: 500px;
  // transform: rotate(-97deg);
}
